server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: teach-spring
  datasource:
    url: jdbc:mysql://localhost:3306/teach_school?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: root

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true
#  mapper-locations: classpath:mapper/*.xml


